/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ebebeb;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a2d5ff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #6dbcfd;
}

.table-wrapper {
    overflow-x: auto;
    padding-bottom: 20px;

}

thead {
    border-bottom: 1px solid #6dbcfd;
}

thead tr th {
    padding: 17px;
}

table {
    width: max-content;
    border-collapse: collapse;
}


tr:nth-child(even) {
    background-color: #D6EEEE;
}

table th {
    position: sticky;
    top: 0px;
    color: black;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
}

table th,
table td {
    padding: 15px;
}

td:first-child {
    text-align: left;
}
table td {
    text-align: center;
    font-size: 17px;

}
.user-logo{
    width: 33px;
    border-radius: 15px;
    margin-right: 15px;
}
.profil-link{
    text-decoration: none;
    color: black;
}
.profil-link:hover{
    color: #152259;
}