  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: rgb(255, 255, 255);
  font-family: 'Kumbh Sans' sans-serif;
  overflow-x: hidden;

}
.button1{
    color: white;
    width: 90px;
    border-radius: 15px;
    background-color: #0A92DD;
    border: none;
    cursor: pointer;
    font-weight: 700;
    transition: 0.5s ease;
    font-size: 15px;
    padding: 10px 0;
    margin-right: 20px;
}

.content-wrapper .button1{
  width: 40%;
  font-size: 17px;
  transition: transform 0.5s  ;
}


.log .button1:hover{
  transform: scale(0.8);
 }
.content-wrapper .button1:hover{
  transform: scale(0.8);
}

.reveals{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
}

.reveals.active{
  opacity: 1;
  transform: translateY(0px);
  transition: all 2s ease;
}


.navbar .nav-item .nav-link{
    color: #a0a0a0;
    margin-right: 15px;
    text-decoration: none;
    position: relative;
}
.navbar .nav-item .nav-link:hover{
  color: white;
}
.navbar .nav-item .nav-link:after{
 content: "";
 position: absolute;
 background-color: #ffffff;
 height: 3px;
 width: 0;
 left: 0;
 bottom: -2px;
 transition: 0.3s;
}
.navbar .nav-item .nav-link:hover:after{
  width: 100%;

 }
.navbar .nav-item .active{
   font-weight: bold;
}



.navbar-toggler{
    background-color: rgb(235, 227, 227);
}

.navbar-toggler-icon {
    border: none;
  }
.Landing_Up{
    width: 100%;
    background-color: #100f57;
    height: 100%;
}
.button2 {
    color: white;
    padding: 10px;
    width: 125px;
    border-radius: 15px;
    background-color: #0A92DD;
    border: none;
    cursor: pointer;
    z-index: 50;
    font-weight: 700;
    font-size: 15px;
    transition: 0.5s ease;


}
.button1:hover,.button2:hover,.button3:hover{
  color: #000000;
  background-color: #D89925;
  transform: scale(0.85);
}

.fleche{
    position: relative;
    left:100px;
    animation-name: opacityFleche ;
    animation-duration: 5s;
    bottom:35px;

}

.carousel-item{
     height: 500px;
}



/* Announcements slider */

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s;


    }


    .swiper {
        width: 100%;
        height: 500px; /* You can adjust the height as needed */
        overflow: hidden;
    }





.next:hover,.previous:hover{
   background-color: #100f57;
   color: white;
}
.swiper-slide img{
  filter: grayscale(100%);
  transition: transform 0.5s;

}
.swiper-slide img:hover{
  filter: grayscale(0);
  cursor: pointer;
  transform :scale(1.1);
}

.swiper-slide:hover{

  cursor: pointer;

}
.text{
     color: white;
     text-align: center;
     font-size:38px ;
     font-weight: bold;
     z-index: 0;
}
.text .small{
font-size: 15px;
font-weight: normal ;
}

.sign_up{
  color: #1A81D8;
  margin-right: 15px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  transition: transform 0.5s;
}
.sign_up:hover{
color: white;
font-weight: bold;
transform: scale(0.9);
}


.about_us{
  background-color: #100f57;
  position: relative;
  width: 60%;
  padding: 30px;
  border-radius: 20px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}
.about_us p{
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.footer{
  background-color: #100f57;
  margin-top: 40px;
  top: 200px;
}
.footer .map{
  padding: 40px;
}
.register_container{
  background-color: #100f57;
  height: 150px;
}
.bt_register{
  transition: transform 0.8s;
  font-size: 1.1rem;
}
.bt_register:hover{
  transform: scale(0.9);
}
.copyright{
  background-color: #100f57;
  color: white;
  padding-bottom: 10px;
  margin: 0px;
}
.content_homework{
  overflow-x: auto;
  width: fit-content;
}


.login a{
  text-decoration: none;
  text-align: center;
}
.row1{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  margin-left: 20px;
  z-index: 5;
}
.row1 h1{
  font-size: 2rem;
  font-weight: bold;
  color: #152259;

}

.row1 h3{
  color: #152259;
}

.row1 p{
 font-size: 1.1rem;
}

.row2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: 20px;
    z-index: 5;
  }
  .row2 h1{
    font-size: 2rem;
    font-weight: bold;
    color: #152259;

  }

  .row2 h3{
    color: #152259;
  }

  .row2 p{
   font-size: 1.1rem;
  }

.layer{
  width: 275px;
  border-radius: 15px;
  padding: 20px 10px;
text-align: center;
background-color: #E4F1FB;
box-shadow: 0px 5px 6px #888888;
margin-right: 20px;
margin-bottom: 30px;

}

.layer span{
  font-weight: bold;
}
.layer .btn_description,.btn_delete,.layer .btn_discover{
  padding:5px 10px ;
  width: 135px;
  background-color:#152259 ;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  transition: transform 0.5s;
}
.layer .btn_description{
  background-color:#8A90AC ;
}

.layer .btn_description:hover,.layer .btn_discover:hover{
    background-color: #D89925;
    color: black;
    transform: scale(0.9);
}

.btn_delete{
    background-color:red ;
  }

  .btn_delete:hover{
    background-color: red;
    color: black;
    transform: scale(0.9);
  }



.login_container{
  margin: 0  auto;
  padding-bottom: 2%;
  background-color: #100f57;
  border-radius: 20px;
  width: 35%;
}
.login_button{
  transition: transform 0.5s;
}
.login_button:hover{
  color: #000000;
  background-color: #D89925;
  border: none;
  transform: scale(0.9)
}

  @keyframes opacityFleche {

    0%{
    opacity: 0;
    }
    50%{
     opacity: 1;
    }

  }
  /*  Media Screens  */


  @media screen and (max-width:2000px) {

  .container_contact_us_logo {
     margin-right: 60px;
     margin-left: auto;
 }

 #Annoncements{
    margin-top: 20px;
 }

  }

  @media screen and (max-width:1382px) {

    .container_contact_us_logo {
       margin-right: 60px;
       margin-left: auto;
   }

   #Annoncements{
      margin-top: 20px;
   }
   .row2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 20px;
    z-index: 5;
  }
  .row2 h1{
    font-size: 2rem;
    font-weight: bold;
    color: #152259;

  }

  .row2 h3{
    color: #152259;
  }

  .row2 p{
   font-size: 1.1rem;
  }


    }




 @media screen and (max-width:1304px) {
  .container_contact_us_logo {
    margin-right: 60px;
    margin-left: auto;
}

#Annoncements{
    margin-top: 20px;
 }

 .content_homework{
  overflow-x: scroll !important;
  width: max-content;

 }

 }



 @media screen and (max-width:1139px) {
hr{
  display: none;
}
.container_contact_us_logo {
    margin-right: 60px;
    margin: 0 auto;
}

#Annoncements{
    margin-top: 20px;
}
.navbar .nav-item .nav-link:hover:after{
  width: 10%;
 }
 .navbar .nav-item{
  margin-bottom: 1.2%
 }
 .navbar .nav-item .nav-link:after{
  left: 45%;

 }

 .navbar{
  text-align: center;
margin: 0 auto;
 }
 .button1{
  margin:0 auto;
 }


@media screen and (max-width:865px) {
    .div-footer{
     display: flex;
     flex-direction: column;
     padding-bottom: 20px;
   }
  }
@media screen and (max-width: 991px){
  .text{
    margin-top: 10%;
   }
   .register_container{
     height: fit-content;
   }
}

  .login_container form input{
    width: 100% !important;
  }

  .container_contact_us_logo{
    margin-left: auto;
    margin-right: auto;
  }

  .map{
    margin-left: auto;
    margin-right: auto;

  }


    iframe {
        height: 200px; /* Adjust the height for smaller screens */
    }



   }
   @media screen and (max-width:1117px)
   {
    .login_container{
      transition: all 0.5s;
      width: fit-content;
      padding:0 2%;
    }
   }

   @media screen and (max-width:786px) {
    .login_container .login_info{
      transition: all 0.5s;
      font-size:15px;
    }
    .register_container .opt{
      font-size: 12px;
    }
   }

   @media screen and (max-width:767px) {
     form select option:focus{
        font-size: 5px;
    }
    .row2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 20px;
        z-index: 5;
      }
      .row2 h1{
        font-size: 2rem;
        font-weight: bold;
        color: #152259;

      }

      .row2 h3{
        color: #152259;
      }

      .row2 p{
       font-size: 1.1rem;
      }

   }




@media screen and (max-width:680px) {
hr{
  display: none;
}
.row2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-left: 20px;
    z-index: 5;
  }
  .row2 h1{
    font-size: 2rem;
    font-weight: bold;
    color: #152259;

  }

  .row2 h3{
    color: #152259;
  }

  .row2 p{
   font-size: 1.1rem;
  }

}


@media screen and (max-width: 544px) {
    .footer{
      width: fit-content;
     }
 }

















