.activity_container {
  width: 90%;
}

.title {
  font-size: 18px;
  color: var(--alkarama-primary-color);
  font-weight: 700;
}

.activity_img_container {
  position: relative;
  overflow: hidden;
  height: 170px;
}

.activity_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: all 1.5s ease-in-out;
}

.activity_img:hover {
  transform: scale(1.2);
}