.iconBg {
    background-color: #f0f0f0; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    color: #007bff; 
    font-size: 24px;
  }
  